<nav class="fixed top-0 w-full z-50 bg-[#f7f9fb]/80 backdrop-blur-xl">
  <div class="flex justify-between items-center h-20 px-8 max-w-7xl mx-auto">
    <div class="text-2xl font-bold text-[#00193c] flex items-center gap-2 font-headline tracking-tight">
      <span class="material-symbols-outlined text-[#0059bb]" data-icon="trending_up">trending_up</span>
      ResumeAI Optimizer
    </div>
    <div class="hidden md:flex items-center gap-8 font-headline font-semibold tracking-tight">
      <a class="text-slate-500 hover:text-[#0059bb] transition-colors" href="#">Features</a>
      <a class="text-slate-500 hover:text-[#0059bb] transition-colors" href="#">Pricing</a>
      <a class="text-slate-500 hover:text-[#0059bb] transition-colors" href="#">About</a>
    </div>
    <div class="flex items-center gap-4">
      <button routerLink="/signin" class="px-5 py-2 text-slate-500 font-semibold font-headline hover:text-[#0059bb] transition-all duration-300">Log In</button>
      <button routerLink="/signup" class="bg-gradient-to-br from-[#00193c] to-[#002d62] text-white px-6 py-2.5 rounded-xl font-headline font-semibold hover:scale-95 duration-200 ease-in-out shadow-lg shadow-[#00193c]/10">Sign Up</button>
    </div>
  </div>
</nav>